Homework 4 Using Pandas

In [29]:
import pandas as pd

df = pd.read_csv("/workspaces/data_3500_in_class_code_FA_2025/Lecture_code/NVDA.csv")
df

           Date Close/Last     Volume      Open      High       Low
0     11/4/2025   $198.69   188919300  $203.00   $203.97   $197.93
1     11/3/2025   $206.88   180267300  $208.08   $211.34   $205.56
2    10/31/2025   $202.49   179802200  $206.45   $207.97   $202.07
3    10/30/2025   $202.89   178864400  $205.15   $206.16   $201.41
4    10/29/2025   $207.04   308829600  $207.98   $212.19   $204.78
..          ...        ...        ...       ...       ...       ...
245  11/11/2024   $145.26   182325600  $148.68   $148.85   $143.57
246   11/8/2024   $147.63   175665800  $148.77   $149.77   $146.26
247   11/7/2024   $148.88   207323300  $146.39   $148.93   $146.17
248   11/6/2024   $145.61   242043900  $142.96   $146.49   $141.96
249   11/5/2024   $139.91   160537400  $137.45   $140.37   $137.33

[250 rows x 6 columns]

In [30]:
# clean the string
df["Close/Last"] = df["Close/Last"].replace("[$]", "", regex=True).astype(float)
# print(df.info())

df = df.iloc[::-1].reset_index(drop=True)
df

           Date  Close/Last     Volume      Open      High       Low
0     11/5/2024      139.91  160537400  $137.45   $140.37   $137.33
1     11/6/2024      145.61  242043900  $142.96   $146.49   $141.96
2     11/7/2024      148.88  207323300  $146.39   $148.93   $146.17
3     11/8/2024      147.63  175665800  $148.77   $149.77   $146.26
4    11/11/2024      145.26  182325600  $148.68   $148.85   $143.57
..          ...         ...        ...       ...       ...       ...
245  10/29/2025      207.04  308829600  $207.98   $212.19   $204.78
246  10/30/2025      202.89  178864400  $205.15   $206.16   $201.41
247  10/31/2025      202.49  179802200  $206.45   $207.97   $202.07
248   11/3/2025      206.88  180267300  $208.08   $211.34   $205.56
249   11/4/2025      198.69  188919300  $203.00   $203.97   $197.93

[250 rows x 6 columns]

In [31]:
# moving avg

df["Moving Avg"] = df["Close/Last"].shift(1).rolling(window=5).mean()
df.head(10)

         Date  Close/Last     Volume      Open      High       Low  Moving Avg
0   11/5/2024      139.91  160537400  $137.45   $140.37   $137.33          NaN
1   11/6/2024      145.61  242043900  $142.96   $146.49   $141.96          NaN
2   11/7/2024      148.88  207323300  $146.39   $148.93   $146.17          NaN
3   11/8/2024      147.63  175665800  $148.77   $149.77   $146.26          NaN
4  11/11/2024      145.26  182325600  $148.68   $148.85   $143.57          NaN
5  11/12/2024      148.29  198634700  $146.78   $149.65   $146.01      145.458
6  11/13/2024      146.27  191903300  $149.07   $149.33   $145.90      147.134
7  11/14/2024      146.76  194463300  $147.64   $149.00   $145.55      147.266
8  11/15/2024      141.98  250132900  $144.87   $145.24   $140.08      146.842
9  11/18/2024      140.15  221866000  $139.50   $141.55   $137.15      145.712

In [32]:
buy             = 0
first_buy       = 0
total_profit    = 0


for i in range(len(df)):
    current_price = df.loc[i, "Close/Last"]
    average_price = df.loc[i, "Moving Avg"]

    if current_price < (average_price * 0.98) and buy == 0:
        buy = current_price
        print("Buying at: \t", buy)
        if first_buy == 0:
            first_buy = current_price
    elif current_price > (average_price * 1.02) and buy != 0:
        trade_profit = current_price - buy
        buy = 0
        print("Selling at: \t", current_price)
        print("Trade Profit: \t", trade_profit)
        total_profit += trade_profit

Buying at: 	 141.98
Selling at: 	 140.26
Trade Profit: 	 -1.7199999999999989
Buying at: 	 138.81
Selling at: 	 134.7
Trade Profit: 	 -4.110000000000014
Buying at: 	 134.29
Selling at: 	 144.47
Trade Profit: 	 10.180000000000007
Buying at: 	 135.91
Selling at: 	 137.71
Trade Profit: 	 1.8000000000000114
Buying at: 	 118.42
Selling at: 	 124.83
Trade Profit: 	 6.409999999999997
Buying at: 	 134.43
Selling at: 	 115.74
Trade Profit: 	 -18.690000000000012
Buying at: 	 113.76
Selling at: 	 114.33
Trade Profit: 	 0.5699999999999932
Buying at: 	 104.49
Selling at: 	 106.43
Trade Profit: 	 1.940000000000012
Buying at: 	 131.8
Selling at: 	 139.19
Trade Profit: 	 7.389999999999986
Buying at: 	 167.03
Selling at: 	 176.75
Trade Profit: 	 9.719999999999999
Buying at: 	 175.64
Selling at: 	 181.77
Trade Profit: 	 6.130000000000024
Buying at: 	 174.18
Selling at: 	 177.33
Trade Profit: 	 3.1500000000000057
Buying at: 	 170.29
Selling at: 	 183.61
Trade Profit: 	 13.320000000000022
Buying at: 	 183.16
Selling at: 	 186.26
Trade Profit: 	 3.0999999999999943
Buying at: 	 198.69

In [33]:
# output results

print("------------------------------------")
print("Total Profit: \t", total_profit)
print("First Buy: \t", first_buy)
print("% Return: \t", (total_profit/first_buy) * 100)

------------------------------------
Total Profit: 	 39.190000000000026
First Buy: 	 141.98
% Return: 	 27.602479222425714

In [ ]:
tickers = ["AAPL", "GOOG", "TSLA"]

In [ ]:
def mean_reversion(stock_df, ticker):
    return results

In [ ]:
def sma():
    pass

In [ ]:
for stock in stocks:
    results = mean_reversion(stock)
    sma(stock)